{{ define "status" }}

<!DOCTYPE html>
<html lang="ru">
{{ template "head" }}
<body>
  {{ template "header" }}
  <main class="d-flex flex-column align-items-center">
    <h1 class="lead primer" style="margin-top: 100px; font-size: 35px;">Свободные воркеры</h1>
    <h2 style="font-size: 50px; color: greenyellow;">{{ .FreeWorkers }} | {{ .MaxWorkers }}</h2>
    <p class="lead primer" style="margin-top: 40px; font-size: 35px;">Выражения в обработке</h1>
        <ul class="justify-content-center" style="max-width: 80%; overflow: auto; list-style-type: none; margin: 0; padding: 0;">
            {{ range .Expressions }}
            <li class="list-element">{{ . }}</li>
            {{ else }}
            Нет активных вычислений
            {{ end }}
        </ul>
  </main>
</body>
</html>

{{ end }}
